<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.angel.mymessenger">
  <application
      android:label="@string\app_name"
      android:allowBackup="true"
      android:supportRtl="true">

    <activity android:name=".CreateMessageActivity">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <activity android:name=".RecieveMessageActivity">
    </activity>

  </application>
      

</manifest>
